.advantages {
  display: block;
  padding-bottom: 30px;
}
.advantages__sub-title {
  text-align: center;
  padding: 40px 0;
}
.advantages__item:nth-child(2n) .advantages__sub-title {
  text-align: left;
}
.advantages__text {
  max-width: 605px;
  font-size: 18px;
}
// .advantages__box {
//   margin-right: 0;
//   margin-left: 210px;
// }
// .advantages__item:nth-child(2n) .advantages__box {
//   margin-left: 0;
//   margin-right: 210px;
// }
.advantages__item {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  margin-left: auto;
  margin-right: auto;
}
.advantages__item:nth-child(2n) {
  margin-right: 0;
  flex-direction: row-reverse;
}
.advantages__item:last-child {
  margin-bottom: 0;
}
