.benefits {
  display: flex;
  justify-content: space-between;

  padding: 85px 0;
  background-repeat: no-repeat;
  background-image: url(../../img/bg-img.png);
}
.benefits__text {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;

  padding: 20px 74px;
}
.benefits__bg {
  width: calc((100% - 100px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // height: 150px;
  background-color: #fff;
  border: 1px solid rgba(62, 71, 128, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.benefits__icon {
  fill: #f0353c;
  margin-top: 20px;
}
