.benefits {
  display: flex;
  justify-content: space-between;

  padding: 85px 0;
  background-repeat: no-repeat;
  background-image: url(../img/bg-img.png);
}
.benefits__text {
  display: inline-block;
  text-align: center;
  font-size: 23px;
  line-height: 24px;
  color: #fff;
  padding: 120px 20px 20px;
}
.benefits__bg {
  width: calc((100% - 100px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.benefits__bg:nth-child(1) {
  background-image: url(../../img/experience.jpg);
}
.benefits__bg:nth-child(2) {
  background-image: url(../../img/reputation.jpg);
}
.benefits__bg:nth-child(3) {
  background-image: url(../../img/opvetstvennost.jpg);
}
.benefits__icon {
  fill: #597963;
  margin-top: 20px;
}
