html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: "Oswald", sans-serif;

  background-color: rgba(227, 227, 224, 0.23);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #323440;
}
a {
  text-decoration: none;
  color: #323440;
  font-size: 20px;
}
h1,
h2,
h3,
p {
  font-style: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}
img {
  display: block;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 60px;
}
.title::after {
  content: "";
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../img/title.svg);
  filter: drop-shadow(0px 2px 1px rgba(50, 52, 64, 0.4));
}
.title--second {
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: 20px;
}
.position {
  position: relative;
}

.position__text {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  // padding: 0 74px;
}
