.footer {
  background-color: #597963;
  padding: 60px 0;
}
.footer-contact__item {
  padding: 5px 0;
  & a {
    color: #fff;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}
// .footer-contact__list {
//   display: flex;
// }
