.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contact {
  position: relative;
  display: flex;
  margin-right: auto;
  & .contact__items:not(:last-child) {
    margin-right: 30px;
  }
}
.contact__link {
  display: flex;
  position: relative;
  align-items: center;
  padding: 20px 0;
}
.contact__link::after {
  opacity: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, -50%) scalex(0.2);
  width: 100%;
  border: 1px solid #597963;
  background-color: #597963;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  transition: opacity 200ms linear, transform 200ms linear;
}
.contact__link:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scalex(1);
}
.header__menu {
  position: relative;
  display: flex;

  margin-right: 30px;
  & .menu__items:not(:last-child) {
    margin-right: 40px;
  }
}
.menu__link {
  display: inline-block;
  position: relative;
  padding: 20px 0;
}
.menu__link::after {
  opacity: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, -50%) scalex(0.2);
  width: 100%;
  border: 1px solid #597963;
  background-color: #597963;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  transition: opacity 200ms linear, transform 200ms linear;
}
.menu__link:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scalex(1);
}
.header__menu::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 2px solid #597963;
  background-color: #597963;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.header-contact__icon {
  fill: #323440;
  margin-right: 10px;
}
