.hero {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.hero__slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 400px;
  padding-right: 100px;
}
.hero__img {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 2;
  box-shadow: -10px 10px 10px 5px rgba(0, 0, 0, 0.25);
  // transform: translate(-50%, -50%);
}
.hero__img--second {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
// .hero__text {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
