.hero__slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 400px;
  padding-right: 150px;
}

// .hero__img {
//   position: absolute;
//   top: 10%;
//   left: 0;
//   z-index: 2;
//   box-shadow: -10px 10px 10px 5px rgba(0, 0, 0, 0.25);

// }

.hero__title {
  width: 717px;
  font-size: 40px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  padding: 233px 0;
  & span {
    font-size: 30px;
  }
}
.hero__title--second {
  margin-left: auto;
  margin-right: auto;
}
.hero__bg {
  background-color: #fff;
}

// Slider style
.itcss {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* стили для wrapper */
.itcss__wrapper {
  position: relative;
  overflow: hidden;
  background-color: #eee;
}

/* стили для элемента, в котором непосредственно расположены элементы (слайды) */
.itcss__items {
  display: flex;
  transition: transform 1000ms ease;
}

/* класс для отключения transition */
// .transition-none {
//   transition: none;
// }

/* стили для элементов */
.itcss__item {
  flex: 0 0 100%;
  max-width: 1600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/hero2.jpg);
}

.itcss__item:nth-child(1) {
  background-image: url(../img/hero.jpg);
}
