.process {
  display: flex;
  justify-content: center;
}
.process__item {
  position: relative;
  width: calc((100% - 520px) / 6);
  margin-right: 70px;
  margin-bottom: 60px;
  &:nth-last-child(1) {
    margin-right: 0;
  }
}
.process__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 25%;
  right: -60%;
  transform: translate(-50%);
  width: 40px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/ArrowR.svg);
}
.process__text {
  text-align: center;
  padding-top: 20px;
}
