.process {
  background-color: #fff;
}
.process__list {
  display: flex;
  justify-content: center;
}
.process__item {
  position: relative;
  width: calc((100% - 520px) / 6);
  margin-right: 40px;
  margin-bottom: 50px;
  &:nth-last-child(1) {
    margin-right: 0;
  }
}
.process__item:not(:last-child)::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 25%;
  right: -30%;

  width: 40px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/ArrowR.svg);
}
.process__title {
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 20px;
}
.process__text {
  text-align: center;
  padding-top: 20px;
}
.process__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  fill: #31503b;
}
