.services {
  display: block;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  padding-bottom: 85px;
}
.services__bg {
  background-color: #fff;
}
.services .position:not(:last-child) {
  margin-bottom: 5px;
}
.services__title {
  position: relative;
  display: block;
  width: 100%;
  background-image: linear-gradient(#597963 15%, rgba(89, 121, 99, 0.9) 100%);
  box-shadow: 0px 0px 23px 3px rgba(89, 121, 99, 0.25);
  transition: background-color 200ms linear;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  padding: 25px 20px;
  // margin-right: auto;
}
.services__title::after {
  content: "+";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}
.box__item.active .services__title::after {
  content: "\2014";
}
.services__card {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: all 450ms ease-in-out;
}
.box__item.active .services__card {
  max-height: 800px;
}
.services__card p {
  padding: 20px;
}
.box__item {
  position: relative;
  margin-bottom: 5px;
}
// .box:nth-child(even) .services__item {
//   margin-left: auto;
//   margin-right: 0;
// }
.services__title:hover,
.services__title:focus {
  background-color: #31503b;
}
.services__text {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
